.header {
  background: url("../../../images/assets/bg1.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100vw;
  position: relative;
  z-index: 10;
  min-width: 100vw;

  min-height: 990px;
  padding: 120px 10vw 0;
  color: white;

  font-family: "Suez One", serif;
}
.header h2 {
  max-width: 55%;
  font-size: 5.5rem;
  font-weight: 400 !important;
  line-height: 7.5rem;
  margin-bottom: 20px;
}
.header p {
  max-width: 55%;
  font-size: 2rem;
  margin-bottom: 30px;
}
.links {
  display: flex;
}
.header a {
  color: white;
  background-color: var(--wine);
  padding: 10px 50px;
  border-radius: 10px;
  max-width: 200px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  transition: transform 300ms ease-in-out;
}

.header a:nth-child(2) {
  margin-left: 30px;
  background-color: var(--lemon);
}
.header a:hover {
  color: inherit;
  transform: scale(1.1);
}
@media screen and (max-width: 1680px) {
  .header h2 {
    font-size: 4.5rem;
    line-height: 6.5rem;
  }
  .header p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1400px) {
  .header {
    padding-top: 100px;
  }
  .header h2 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .header p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1220px) {
  .header h2 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .header p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .header {
    background: url("../../../images/assets/bg1-small.png") round;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    min-height: 700px;
    height: inherit;
  }
  .header h2 {
    text-align: center;
    max-width: 100%;
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .header p {
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 305px;
  }
  .links {
    flex-direction: column;
  }
  .header a {
    margin-inline: auto;
  }
  .header a:nth-child(2) {
    margin: 20px auto;
  }
}
