.about {
  position: relative;
  z-index: 9;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 1000px;
  background: url("../../../images/assets/bg2.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 150px 10vw 0;
  margin-top: -50px;
  color: var(--blue);
}
.about h2 {
  max-width: 600px;
  font-size: 3.5rem;
  margin-bottom: 30px;
}
.about p {
  max-width: 600px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .about {
    min-height: 708px;
    padding-top: 50px;

    background: url("../../../images/assets/bg2-small.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .about h2 {
    font-size: 2rem;
    line-height: 3.5rem;
    text-align: center;
  }
  .about p {
    text-align: center;
    font-size: 1rem;
  }
}
