.services {
  background: url("../images/assets/bg-2.jpg") no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about,
.speakers {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services .MuiSvgIcon-root {
  font-size: 84px;
  background-color: rgba(105, 105, 105, 0.4);
  border-radius: 50%;
  padding: 14px;
}
@media screen and (max-width: 992px) {
}
