.partner {
  width: 100vw;
  background: url("../../../images/assets/partners-bg.png") no-repeat;
  background-size: 100% 100% !important;
  background-position: center !important;
  padding: 100px 0px 150px;

  position: relative;
  z-index: 9;
  color: var(--blue);
}
.partnerCard {
  max-width: 1300px;
  margin: 0 auto;
}
.partner h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 2rem;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards img {
  width: 225px;
}
.card {
  padding: 30px;
  background-color: white;
  border-radius: 25px;
  margin: 40px;
}

@media screen and (max-width: 500px) {
  .partner {
    background: url("../../../images/assets/bg8-small.png") no-repeat;
    padding: 100px;
    margin-top: -300px;
    padding-top: 336px;
  }
  .header {
    width: max-content;
  }
  .cards {
    flex-wrap: wrap;
  }
  .cards img {
    width: 100%;
    height: auto;
  }
  .card {
    width: 300px;
    padding: 10px;
    margin: 0;
    margin-bottom: 30px;
  }
}
