.partner {
  width: 100vw;
  background: url("../../../images/assets/bg8.png") no-repeat;
  background-size: 100% 100% !important;
  background-position: center !important;
  padding: 350px 0px 150px;

  margin-top: -170px;
  position: relative;
  z-index: 9;
  color: var(--blue);
}
.partner h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cards img {
  margin: 0px 30px;
  padding-bottom: 30px;
  width: 261px;
  height: 291px;
}

@media screen and (max-width: 500px) {
  .partner {
    background: url("../../../images/assets/bg8-small.png") no-repeat;
    padding: 100px;
  }
  .cards img {
    padding-bottom: 30px;
  }
}
