.venue {
  padding: 30px;
  min-height: 700px;
  /* background-color: aqua; */
}

.flex,
.dateImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  color: var(--pink);
}
.dateImage {
  justify-content: space-evenly;
}
.date {
  margin-right: 30px;
  font-size: 3rem;
}
.icon {
  width: 117px;
  height: 117px;
}
.day {
  display: flex;
  align-items: center;
  margin: 20px;
}
.day_text {
  font-size: 1.2rem;
  max-width: 200px;
}
.venue_image {
  max-width: 515px;
}
.venue_image img {
  max-width: 100%;
}

.others {
  justify-content: space-evenly;
}
.extra {
  text-align: center;
  font-size: 3rem;
  margin: 10px 20px;
}
@media screen and (max-width: 1300px) {
  .extra {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .extra {
    font-size: 1.5rem;
  }
  .flex {
    flex-direction: column-reverse;
  }
  .dateImage {
    flex-direction: column-reverse;
  }
  .date {
    margin-right: 0;
    margin-top: 10px;
    max-width: auto;
    text-align: left;
  }
  .icon {
    height: 60px;
    width: 60px;
  }
  .day_text {
    max-width: initial;
    margin-bottom: 0;
  }
  .day {
    max-width: 150px;
  }
  .others {
    flex-direction: row;
    padding: 15px 5vw 150px;
  }
}
@media screen and (max-width: 700px) {
  .extra {
    font-size: 1rem;
  }
  .day_text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .venue {
    padding: 30px 0px;
    flex-direction: column-reverse;
  }
  .flex {
    flex-direction: column-reverse;
  }
  .dateImage {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .date {
    margin-right: 0;
    margin-top: 10px;
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .icon {
    height: 60px;
    width: 60px;
  }
  .day_text {
    max-width: initial;
    font-size: 1.3rem;
    padding-bottom: 0;
  }
  .day {
    max-width: initial;
  }
  .others {
    flex-direction: row;
    padding: 0 5vw;
  }
  .extra {
    font-size: 0.8rem;
    margin: 10px;
  }
}

@media screen and (max-width: 415px) {
  .date {
  display: unset;}
}