.schedule {
  background: url("../../../images/assets/bg4.png") round;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  padding: 20vh 0px 0px;
}
.schedule h2 {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
}
.right {
  margin-left: 20vw;
}
.schedule li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.time {
  padding: 20px;
  margin-right: 10px;
  background-color: var(--light-green);
  border-radius: 20px;
}

@media screen and (max-width: 1400px) {
  .flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .schedule {
    background-repeat: no-repeat;
  }
  .schedule h2 {
    font-size: 2rem;
    line-height: 3.5rem;
    text-align: center;
    color: var(--gold);
  }
  .schedule h3 {
    color: white;
  }
  .flex {
    flex-direction: column;
  }
  .right {
    margin-left: 0px;
  }

  .schedule li {
    flex-direction: column;
  }
  .flex h3 {
    text-align: center;
    margin: 20px 0px;
  }
  .time {
    margin-right: 0;
  }
  .flex ul {
    padding-left: 0;
  }
}
