.steam {
  width: 100vw;
  min-height: 762px;
  background: url("../../../images/assets/bg3.png") no-repeat;
  background-size: 100% 100% !important;
  background-position: center !important;
  padding: 150px 10vw 0;
  color: var(--blue);
  position: relative;
  z-index: 9;

  margin-top: -150px;
}
.steam h2 {
  max-width: 600px;
  font-size: 3.5rem;
  margin-bottom: 30px;
}
.steam p {
  max-width: 600px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: white;
}
@media screen and (max-width: 1200px) {
  .steam {
    background: url("../../../images/assets/bg3-mid.png") no-repeat;
  }
}

@media screen and (max-width: 500px) {
  .steam {
    min-height: 760px;
    padding-top: 50px;
    background: url("../../../images/assets/bg3-small.png") no-repeat;
    background-repeat: no-repeat;
    margin-top: -100px;
  }
  .steam h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .steam p {
    font-size: 1rem;
    text-align: center;
  }
}
