.adultDashboard__Cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.adultDashboard .card {
  max-width: 150px;

  margin: 40px 20px;
  border-radius: 10px !important;
}
.adultDashboard .card__Image {
  --ash: #707070;
  background-color: var(--ash);
  height: 100px !important;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
}
.adultDashboard .card img {
  border-radius: 0px !important;
  max-width: 80% !important;
  max-height: 80px;

  margin: 10px auto;
}

.adultDashboard .card__About {
  padding: 20px !important;
}

.adultDashboard .card__About h4 {
  font-size: 14px !important;
  min-width: fit-content;
  color: black;
}

.adultDashboard .card p {
  border: none;
}
.adultDashboard .card button {
  --blue: blue;
  background-color: var(--blue);
  color: #aab0bb;
  padding: 5px;
  font-size: 12px;
  display: block;
  margin: 0px auto;
}
