@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: rgb(209, 209, 81);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
li {
  list-style: none;
}

h1,
h3,
h4,
p {
  font-family: "Rubik", sans-serif;
  position: relative;
  z-index: 2;
  font-weight: 800;
}
p {
  font-weight: 400;
}
h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
