.navbars {
  padding: 30px 20px !important;
  z-index: 12;
  font-family: "Suez one";
}
.left {
  flex: 0.4;
}
.right {
  flex: 0.6;
}
.logo {
  position: absolute;
  left: 10%;
  top: 5px;
}

.navlinks {
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  /* max-width: 900px; */
}
.link {
  color: #707070 !important;
  font-size: 25px;
}
.link:hover {
  color: #d92b58 !important;
}
@media screen and (max-width: 1400px) {
  .left {
    flex: 0.3;
  }
  .right {
    flex: 0.7;
  }
  .logo {
    left: 5%;
    max-width: 300px;
  }
  .link {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1132px) {
  .link {
    font-size: 1rem;
  }
}
/* @media screen and (max-width: 991px) {
  .logo {
    left: 50%;
  }
} */
@media screen and (max-width: 991px) {
  .navbars {
    padding: 0.5rem;
  }
  .logo {
    left: 50%;
    top: 25px;
    transform: translate(-50%, 0px);
  }
  .logoIcon {
    max-height: 120px;
  }
  .navlinks {
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 0;
    padding: 0 !important;
    margin: 0 !important;
  }
  .right {
    flex: 1;
    padding: 20px 0 !important;
  }
}
