.SummarySection {
	display: flex;
	flex-direction: column;
	/* grid-template-columns: repeat(8, 1fr); */
	padding: 3rem 2rem 1rem;
	/* margin: 0 2rem; */
	font-family: 'Poppins', sans-serif;
}

.SummarySection h2 {
	background-color: var(--color-orange);
	color: #fff;
	border-radius: 7px;
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 1rem;
}

.SummaryHeader {
	flex: 1;
	display: flex;
}

.SummaryCard {
	border-radius: 7px;
	overflow: hidden;
	background-color: #fff;
	width: min-content;
	/* min-width: 25%; */
	flex: 1;
	box-shadow: 2px 5px 10px rgba(47, 47, 47, 0.2);
	margin-bottom: 1rem;
	/* margin-right: 1rem; */
	padding: 0;
	border: 2px solid transparent;
	/* height: 120px; */
	transition: all 0.4s ease-in-out;
	/* position: relative; */
}

.AdminCourseSummary {
	/* background-color: #fff; */
	border-radius: 7px;
	overflow: hidden;
	margin-top: 1rem;
}

.AdminCourseSummary > div {
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 7px;
}

.CourseSummaryContent {
	background-color: #fff;
}

.CourseSummaryContent h3,
.TableHeadText {
	font-size: 18px;
	color: var(--color-orange);
	/* background-color: var(--color-orange); */
	border-bottom: 2px solid var(--color-orange);
	padding: 5px;
	font-weight: 700;
	margin-bottom: 10px;
}

.TableHeadText {
	padding: 0;
	border-bottom: none;
	color: #fff;
	margin-bottom: 0;
	font-weight: 600;
}

.SummaryCard:hover {
	border: 2px solid var(--color-orange);
}

.SummaryCard:not(:last-child) {
	margin-right: 10px;
}
.SummaryCard span {
	display: inline-block;
	height: 40%;
	width: 100%;
	margin: 0;
	/* background: transparent; */
	position: relative;
}

.SummaryCardContent {
	display: flex;
	justify-content: space-between;
	align-items: top;
	padding: 10px 8px;
	background-color: #fff;
}

.SummaryCardContent h6 {
	margin-top: 5px;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 1rem;
}

.SummaryCardContent p {
	/* font-weight: 600; */
	margin-bottom: 0;
	font-size: 14px;
}

.SummaryChart {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	overflow: hidden;
}

.SummaryChart .ChartCard {
	background-color: #fff;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 2px 5px 10px rgba(47, 47, 47, 0.2);
}

.ChartCard {
	border: 2px solid transparent;
}

.ChartCard:hover {
	border: 2px solid var(--color-blue);
}

.SummaryChart .ChartCard:first-child {
	margin-right: 10px;
}

.SummaryChart h5 {
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background-color: var(--color-blue);
	width: max-content;
}

.SummaryChart .ChartCard {
	flex: 1;
}

/* .SummaryChart .ChartCard:last-child {
	flex: 0.7;
} */

.ChartContainer {
	height: max-content;
	width: calc(60vw -256px);
}
.ChartContainerPolar {
	height: 400px;
	width: calc(40vw -256px);
}

.TableWrapper {
	position: relative;
	/* margin-top: 20px; */
	/* padding: 5px; */
	overflow: auto;
	background-color: white;
	/* font-family: 'Nunito', sans-serif; */
	border: 2px solid transparent;
	border-radius: 10px;
	border-top-left-radius: 0;
	/* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
	box-shadow: rgba(47, 47, 47, 0.1) 0px 4px 6px -1px, rgba(69, 69, 69, 0.06) 0px 2px 4px -1px;
}

.TableMarker,
.TableMarkerDiv {
	padding: 5px 10px;
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: var(--color-blue);
	width: max-content;
	margin-bottom: 0;
}

.TableMarkerDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: 0;
	margin-bottom: 10px;
}

.TableWrapper:hover {
	/* border: 3px solid rgba(220, 134, 54, 0.462); */
	border: 2px solid var(--color-blue);
}

.TableExtras {
	padding: 10px 0;
	width: 100%;
	/* margin-top: 35px; */
	/* font-family: 'Nunito', sans-serif; */
	border-bottom: none;
}

.TableInputs {
	padding: 5px 0;
	flex: 1;
	display: flex;
	align-items: center;
}

.TableInputs > input,
.TableInputs > select {
	padding: 0 10px;
	height: 40px;
	border: 1px solid #bbb;
	border-radius: 5px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	min-width: 50%;
	width: 100%;
	margin-right: 10px;
	margin-bottom: 5px;
}

.TableInputs > input:focus {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: 2px solid var(--color-secondary);
}

.TableInputs > button {
	padding: 0 12px;
	height: 35px;
	display: inline-block;
	margin-left: auto;
	/* color:darkgoldenrod; */
	/* color: #777; */
	color: white;
	/* background-color: #f3e8d1c7; */
	background-color: rgb(255, 145, 0);
	border-radius: 5px;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	transition: all 0.4s ease-in-out;
	max-width: 100%;
}

.TableInputs > button:hover {
	border-color: transparent;
	background-color: yellow;
	color: white;
}

.TableInputs > button:disabled {
	/* background-color: #f3d5d1c7; */
	background-color: #eee;
	color: #777;
	cursor: not-allowed;
}

.Table {
	min-width: 950px;
}

.Table tr {
	font-size: 13px;
	/* font-family: 'Nunito', sans-serif; */
}

.Table > thead > tr > th {
	background-color: whitesmoke;
	color: #555;
	border: none;
	border-bottom: 2px solid #777 !important;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
}

.Table > tbody > tr > td {
	padding: 10px;
	font-size: 12px;
}

.Table > tbody > tr > td > button {
	cursor: none;
}

@media only screen and (min-width: 768px) {
	.SectionTitle {
		font-size: 1.4rem;
		padding: 1rem;
	}

	.TableWrapper {
		padding: 20px 30px;
	}

	.Table {
		min-width: 1300px;
	}

	.Table tr {
		font-size: 15px;
	}

	.TableExtras {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.TableExtras > h3 {
		font-size: 13px;
		padding: 15px 20px;
	}

	/* .TableInputs {
		text-align: right;
	} */

	.TableInputs > input {
		width: 70%;
		margin-right: auto;
	}

	.TableInputs > button {
		height: 40px;
		/* width: 25%; */
	}

	.Table > thead > tr > th {
		font-size: 15px;
	}

	.Table > tbody > tr > td {
		font-size: 14px;
	}

	.TableInputs > button {
		font-size: 13px;
	}
}
